/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff; 
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #333; 
    padding: 5px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: transform 0.3s ease; 
}

nav ul li a:hover {
    transform: scale(1.2); 
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    transition: transform 0.3s ease; /* Animación en hover */
}

.product:hover {
    transform: scale(1.05); /* Aumentar tamaño al pasar el mouse */
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product h2 {
    margin-top: 10px;
    color: #333;
}

.product p {
    color: #555;
}

.product button {
    background-color: #007bff; 
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.product button:hover {
    background-color: #0056b3; 
}


.alert-box {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.alert-box.show {
    opacity: 1; 
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333; 
    color: #fff;
}

.contact-icons {
    text-align: center;
    padding: 20px;
}

.contact-icons a {
    color: #fff; 
    font-size: 24px; 
    margin: 0 10px; 
    transition: color 0.3s; 
}

.contact-icons a:hover {
    color: #007bff; 
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }

    #navMenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #333;
        width: 100%;
        z-index: 1;
    }

    #navMenu.show {
        display: block;
    }

    #navMenu ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #navMenu ul li {
        margin-bottom: 10px;
    }

    #navMenu ul li a {
        display: block;
        padding: 10px;
        color: #fff;
        text-decoration: none;
    }
    .category-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #333;
        width: 100%;
        z-index: 1;
    }

    .category-menu.show {
        display: block;
    }

    .category-menu li {
        margin-bottom: 10px;
    }

    .category-menu li a {
        display: block;
        padding: 10px;
        color: #fff;
        text-decoration: none;
    }
}
